body {
    background-color: #86b881;
}

.gallery-Images {
    max-height: 30%;
    max-width: 50%;
    display: block;
}

.hidden {
    display: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}